# Secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Node
node_modules/
dist/
build/
.DS_Store

# Machine Learning & DBs
# We are intentionally including SQLite and .pkl files for the Hackathon deployment
# *.db
# *.sqlite
# *.sqlite3
# *.pkl
# chromadb/
# backend/ml/*.pkl
# backend/chroma_db/

# Presentation Decks
*.ppt
*.pptx